{% extends "base.html" %}
<head>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
</head>
{% block content %}
<br><h1 style="text-align: center;">History</h1>
<div style="text-align: center;">
  <a href="/clear" class="btn btn-sm btn-secondary fw-bold border-dark bg-dark" >Clear History</a>
</div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3" style="text-align: center">
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-success" role="alert">
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
    </main>
</div>
  <table id="data" class="table table-striped">
    {% if data is defined and data|length > 0 %}
      <thead>
        <tr>
          <th>Value 1</th>
          <th>Value 2</th>
          <th>Result</th>
          <th>Operation</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for record in data %}
          <tr>
            <td>{{ record['value1'] }}</td>
            <td>{{ record['value2'] }}</td>
            <td>{{ record['result'] }}</td>
            <td>{{ record['operation'] }}</td>
            <td>{{ record['time'] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    {% else %}
      <br><p class="lead" style="text-align: center;">No calculation history yet.</p></br> <br>
    {% endif %}
  </table>
{% endblock %}
<!--
{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        ajax: '/api/data',
        columns: [
          {data: 'value1'},
          {data: 'value2', searchable: false},
          {data: 'result', orderable: false, searchable: false},
          {data: 'operation', orderable: false, searchable: false},
          {data: 'time'}
        ],
      });
    });
  </script>
  -->
{% endblock %}