{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/azure.css') }}"/>
<br><br><br>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <main class="px-3" style="text-align: center">
    <h1>Welcome!<br>This website contains various tutorials, articles, and resources that teach how to use a variety of technologies. </h1></h1>
    <p class="lead">Click below for theA calculator.</p>
    <p class="lead">
      <a href="/calculator" class="btn btn-lg btn-secondary fw-bold border-dark bg-dark">Go to Calculator</a>
    </p>
  </main>
</div>
{% endblock %}